// Color Variables //

$concord-orange: #FA9914;
$half-black: rgba(0, 0, 0, 0.5);
$opaque: rgba(0, 0, 0, 0);
$light-gray: #F6F6F6;

// Font Variables //

// General styles
* {
  padding: 0;
  margin: 0;
}


